.Container{
    border: 200px;
    border-color: black;
    background-color: rgb(180, 108, 248);
    padding: 20px;
    margin-left: 440px;
    margin-right: 440px;
}

.LoginButton{
    margin-top: 20px;
}